body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*--------KUSUS FOTOlOADING --------*/
.loading{
    width: 100%;
    height: 100%;
    z-index:8;
  	position: absolute;
  	top:0;
  	left: 0;
  	right: 0;
  	bottom:0;
  	overflow: hidden;
    background: #262626;

}


#loading2{
    position: relative;
    top: 49%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}


#loading2 span{
    display:block;
    bottom:0px;
    width: 20px;
    height: 20px;
    background:#fff;
    position:absolute;
}

#loading2 span:nth-child(1){
animation: preloader_2_1 1.5s infinite ease-in-out;
-webkit-animation: preloader_2_1 1.5s infinite ease-in-out;
-moz-animation: preloader_2_1 1.5s infinite ease-in-out;

}

#loading2 span:nth-child(2){
left:20px;
animation: preloader_2_2 1.5s infinite ease-in-out;
-webkit-animation: preloader_2_2 1.5s infinite ease-in-out;
-moz-animation: preloader_2_2 1.5s infinite ease-in-out;

}

#loading2 span:nth-child(3){
top:0px;
animation: preloader_2_3 1.5s infinite ease-in-out;
-webkit-animation: preloader_2_3 1.5s infinite ease-in-out;
-moz-animation: preloader_2_3 1.5s infinite ease-in-out;

}
#loading2 span:nth-child(4){
top:0px;
left:20px;
animation: preloader_2_4 1.5s infinite ease-in-out;
-webkit-animation: preloader_2_4 1.5s infinite ease-in-out;
-moz-animation: preloader_2_4 1.5s infinite ease-in-out;

}

@-keyframes preloader_2_1 {
    0% {-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
    50% {-transform: translateX(-20px) translateY(-10px) rotate(-180deg); border-radius:20px;background:#3498db;}
    80% {-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
     100% {-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@-keyframes preloader_2_2 {
    0% {-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
    50% {-transform: translateX(20px) translateY(-10px) rotate(180deg);border-radius:20px;background:#f1c40f;}
    80% {-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
    100% {-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@-keyframes preloader_2_3 {
    0% {-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
    50% {-transform: translateX(-20px) translateY(10px) rotate(-180deg); border-radius:20px;background:#2ecc71;}
    80% {-transform: translateX(0px) translateY(0px) rotate(-360deg);border-radius:0px;}
     100% {-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}


@-keyframes preloader_2_4 {
    0% {-webkit-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
    50% {-webkit-transform: translateX(20px) translateY(10px) rotate(180deg); border-radius:20px;background:#e74c3c;}
    80% {-webkit-transform: translateX(0px) translateY(0px) rotate(360deg); border-radius:0px;}
     100% {-webkit-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}

/*--------Chrome --------*/

@-webkit-keyframes preloader_2_1 {
    0% {-webkit-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
    50% {-webkit-transform: translateX(-20px) translateY(-10px) rotate(-180deg); border-radius:20px;background:#3498db;}
    80% {-webkit-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
     100% {-webkit-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@-webkit-keyframes preloader_2_2 {
    0% {-webkit-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
    50% {-webkit-transform: translateX(20px) translateY(-10px) rotate(180deg);border-radius:20px;background:#f1c40f;}
    80% {-webkit-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
    100% {-webkit-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@-webkit-keyframes preloader_2_3 {
    0% {-webkit-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
    50% {-webkit-transform: translateX(-20px) translateY(10px) rotate(-180deg); border-radius:20px;background:#2ecc71;}
    80% {-webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);border-radius:0px;}
     100% {-webkit-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@-webkit-keyframes preloader_2_4 {
    0% {-webkit-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
    50% {-webkit-transform: translateX(20px) translateY(10px) rotate(180deg); border-radius:20px;background:#e74c3c;}
    80% {-webkit-transform: translateX(0px) translateY(0px) rotate(360deg); border-radius:0px;}
     100% {-webkit-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}




.besar{
  display: none;
}
.center h1{
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(100%);
    transform: translateX(-50%) translateY(-800%);
}

/*UNTUK BUTTON SCROLL*/
.center{
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}

.down{
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 45px;
    border-radius: 18px;
    background: transparent;
    border: 3px solid #fff;
    overflow: hidden;
}

.down:before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    left: 50%;
    top: 10px;
    transform: translate(-50%,0);
    animation: animate 1s linear infinite;

}

.down:after{
    content: '';
    position: absolute;
    width: 4px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    left: 50%;
    top: 5px;
    transform: translate(-50%,0);
    border-radius: 3px;

}

@keyframes animate{
    0%{
        transform: translate(-50%,20px);
        opacity: 0;
    }
    80%{
        transform: translate(-50%,60px);
        opacity: 2;
    }
    100%{
        transform: translate(-50%,100px);
        opacity: 1;
    }

}

/*AKHIR BUTTON SCROLL*/



/*PAGE 1*/
.atas{
  overflow: hidden;
  text-align: center;
  position: relative;
  background-color: #529abb;
  background-size: cover;
  background-image: url('../image/atas.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: #7eb9f8;
  background-position: center;
  background-repeat: no-repeat
  width: 100%;
  height:100vh;
}


@media (min-width:768px){
	.welcome {
		width:80%;
	}
  .hidden-mobile {
    display: block !important;
  }
}

.visible-mobile {
  display: none !important;
}

@media (max-width:768px){
	.welcome {
		width:100%;
	}
  .visible-mobile {
    display: block !important;
  }
  .hidden-mobile {
    display: none !important;
  }
}

.welcome{
  position: absolute;
  text-align: center;
  left: 50%;
  top: 10%;
  color: white;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


/* ini adalah Untuk Membuat Bubbles*/
/* ini adalah Untuk Membuat Bubbles*/
/* ini adalah Untuk Membuat Bubbles*/
/* ini adalah Untuk Membuat Bubbles*/
/* ini adalah Untuk Membuat Bubbles*/

.bubbles{
  position: absolute;
  top: 0;
  left:0;
   width: 100%;
   height: 100%;
}

.bubbles li{
  position: absolute;
  list-style: none;
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255,.1);
  animation: flow 25s linear infinite;
  bottom: -50px;

}

.bubbles li:nth-child(1){  left : 25%;  width: 80px;  height: 80px;  animation-delay: 0;  animation-duration: 12px;}
.bubbles li:nth-child(2){  left : 10%;  width: 20px;  height: 20px;  animation-delay: 2s;  animation-duration: 35px;}
.bubbles li:nth-child(3){  left : 70%;  width: 20px;  height: 20px;  animation-delay: 4s;}
.bubbles li:nth-child(4){  left : 40%;  width: 60px;  height: 60px;  animation-delay: 18s;  animation-duration: 12px;}
.bubbles li:nth-child(5){  left : 65%;  width: 20px;  height: 20px;  animation-delay: 0s;}
.bubbles li:nth-child(6){  left : 75%;  width: 110px;  height: 110px;  animation-delay: 3s;  animation-duration: 35px;}
.bubbles li:nth-child(7){  left : 35%;  width: 120px;  height: 120px;  animation-delay: 7s;}
.bubbles li:nth-child(8){  left : 50%;  width: 25px;  height: 25px;  animation-delay: 15s;}
.bubbles li:nth-child(9){  left : 20%;  width: 15px;  height: 15px;  animation-delay: 2s;}
.bubbles li:nth-child(10){  left : 85%;  width: 150px;  height: 150px;  animation-delay: 0s;}
.bubbles li:nth-child(11){  left : 25%;  width: 80px;  height: 80px;  animation-delay: 0;  animation-duration: 12px;}
.bubbles li:nth-child(12){  left : 10%;  width: 20px;  height: 20px;  animation-delay: 2s;  animation-duration: 35px;}

@keyframes flow {
  0%
  {
    transform: translateY(0) rotate(0deg);
    opacity:50;
    border-radius:30%;
  }
  100%
  {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 5;
    border-radius:50px;
  }
}


/* ini adalah Untuk Membuat Bubbles*/
/* ini adalah Untuk Membuat Bubbles*/
/* ini adalah Untuk Membuat Bubbles*/
/* ini adalah Untuk Membuat Bubbles*/
/* ini adalah Untuk Membuat Bubbles*/

.a{
  text-align: center;
  color: white;
  animation: typing-text 4s steps(50) , blink 2s infinite alternate;
  overflow: hidden;
  white-space: nowrap;
  font-family: monospace;
  border-right: 1px solid white;
}


/* TYPING TEXT ANIMATION */

@keyframes typing-text {
  from{
    width: 0;
  }
  to{
    width: 826px;
  }
}

@keyframes blink {
  from{
    border-color: transparent;
  }
  to{
    border-color: #000;
  }
}



/* ini adalah Untuk Membuat FlyIn-Text*/
.fly-in-text{
  list-style: none;
  position: absolute;
  /*left:50%;*/
  width: 100%;
  top:0;
  left: 0;
  /*transform:translateX(-50%) translateY(-50%);*/
}
.fly-in-text li{
  display: inline-block;
  color: #384452;;
  margin-right:50px;
  font-family:"Roboto";
  font-weight: 300;
  font-size: 4em;
  color: white;
  opacity: 1;
  transition: all 5.3s ease;
}
@media(max-width:768px){
  .fly-in-text li {
    font-size: 20px;
  }
}

.fly-in-text.hidden li{
  opacity: 0;
}

.fly-in-text.hidden li:nth-child(1){ transform: translateX(-200px) translateY(-200px);}
.fly-in-text.hidden li:nth-child(2){ transform: translateX(-20px) translateY(-200px);}
.fly-in-text.hidden li:nth-child(3){ transform: translateX(-150px) translateY(-80px);}
.fly-in-text.hidden li:nth-child(4){ transform: translateX(10px) translateY(-200px);}
.fly-in-text.hidden li:nth-child(5){ transform: translateX(-300px) translateY(200px);}
.fly-in-text.hidden li:nth-child(6){ transform: translateX(20px) translateY(-20px);}
.fly-in-text.hidden li:nth-child(7){ transform: translateX(30px) translateY(200px);}
.fly-in-text.hidden li:nth-child(8){ transform: translateX(10px) translateY(-120px);}
.fly-in-text.hidden li:nth-child(9){ transform: translateX(730px) translateY(320px);}



/*AKHIR PAGE 1*/

.container{
  width: 960px;
  margin: 0 auto;
}


/*PAGE 2*/

.containerabout{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  text-align: center;
}

.navigasi{
  position: relative;
  top: 0;
  z-index: 4;
  width: 100%;

}


nav ul
{
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
	background-color: #384452;
  font-size: 1em;
	color:#fff;
  font-family: "Roboto";
	padding:0;
	text-align:center;
	margin:0;
	-webkit-transition: max-height 1s;
	-moz-transition: max-height 1s;
	-ms-transition: max-height 1s;
	-o-transition: max-height 1s;
	-webkit-transition: max-height 1s;

}

nav ul li
{
	display:inline-block;
	padding:20px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
}

nav ul li:hover
{
	background-color: #556679;
  cursor: pointer;
}

.handle
{
  padding: 20px;
	width:100%;
	background:#f47b2a;
	text-align: left;
  font-size: 17px;
	box-sizing: border-box;
	cursor: pointer;
	color:white;
	display:none;
}

.menu-trigger {
	  width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    top: 105px;
    right: 20px;
    position: absolute;
    padding: 15px 10px;
    display:none;
}

.menu-trigger span, .menu-trigger span:after,
.menu-trigger span:before{
    width: 20px;
    height: 2px;
    background-color: #aaa;
    position: absolute;

}

.menu-trigger span{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.menu-trigger span:before {
    content: '';
    top: -6px;


}

.menu-trigger span:after{
    content: '';
    top: 6px;

}

.text-banner {
  font-size: 14px;
  color: white;
  margin-top: 200px;
}

@media screen and (max-width: 580px)
{
	nav ul
	{

		max-height: 0;
	}
	.showing
	{
		max-height: 25em;
	}


	nav ul li
	{
		box-sizing: border-box;
		width: 100%;
		padding:15px;
		text-align: center;
	}

	.handle
	{
		display: block;
	}
}


.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}



@media (min-width:768px){
	.kontendalam {
		width:80%;
    height:70%;
	}
}
.kontendalam {
  position:relative;
  margin-top:0;
  transform: translate(-50%,-50%);
  left: 50%;
  top:40%;
  color:#fff;
}


.containerbagian{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  background-color: yellow;
}
.bagiandalam{
    width: 50%;
    height: 100%;
    text-align: justify;
    float: left;
    margin: 0 auto;
    background-color: #f7f7f7;
}
@media(max-width:768px){
  .bagiandalam {
    width:100%;
  }
  .bagiandalam img, .bagiandalam2, .konten2 .box, .kotak1, ul.image li, .container, .kanan li, footer .kiri, footer .kanan, containerabout{
    width: 100% !important;
  }
  .kedalam{
    width: 100% !important;
  }
  section {
    padding: 30px !important;
  }
  .kotak1, .Masalah1 {
    height: auto !important;
    background-color: #7eb9f8;
  }
  .gb-1, .gb-2, .gb-3 {
    min-height: 300px;
  }
}

.kotak1{
  width: 50%;
  height: 100%;
  text-align: justify;
  float: left;
  margin: 0 auto;
  background-color: #fff;

}

.kotak1 h3{
  font-size:25px;
	line-height: 5;
}

.gb-1{
  background: url('../image/polusi.png') center center no-repeat;
}
.gb-2{
  background: url('../image/parkir.png') center center no-repeat;
}
.gb-3{
  background: url('../image/macet.png') center center no-repeat;
}

.kedalam{
  display: none;
  width: 500px;
  position: relative;
  margin: 70px auto 0;

}
.kedalam img{
  width: 100%;
  height: 100%;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  margin:10px ;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.active {
  background-color: #717171;
}

.bagiandalam2{
    width: 50%;
    height: 100%;
    text-align: justify;
    float: right;
    position: relative;
    background-color: #e9eaed;
}

section
{
	line-height: 1.9em;
	font-size: 0.9em;
	padding:70px;
	width: 50%;
	margin:0 auto;
}

.menu{
  font-size: 50px;
  position: absolute;
  left: 90%;
}


.konten2{
  width:100%;
  /*height: 100%;*/
  position: relative;
  overflow: hidden;
  background-color: #428bca;
}

.konten2 .box{
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
  color: #fff;
}

.konten2 .box img{
  width: 75%;
  animation: kedip 1s infinite alternate;
}
.box h3{
  font-size:25px;
	line-height: 1;
}

.dalam{
  width: 80%;
  margin: 6% auto;
  position: relative;
  overflow: hidden;
  font-size: 17px;
}

.kriteria{
  line-height: 0 0 10px 0 0;
  font-family: 'roboto';
  color: #fff;
}

.box img:hover{
  opacity: 1;
  animation: none;
}




.Masalah1{
  width:100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #aaa;
}

.Masalah1 h3 {
  text-align: center;
}

.Masalah1 img {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.galery{
  width:100%;
  position: relative;
  overflow: hidden;
  background-color: #428bca;
  color: #fff;
}

ul.image li{
  width: 100%;
  float: left;
  padding-left: 0;
  margin-left: 0;
  opacity: 0.5;
}

ul.image li:hover{
animation:gelap 1s;
}

@keyframes gelap {
0%{
  opacity: 0.5;
}
100%{
  opacity: 1;
}
}

ul.image li{
  float: left;
  width: 25%;
  list-style: none;
  text-align: left;
}

ul.image li img{
  width: 100%;
}


footer{
  width: 100%;
  background-color:#fff;
  float: left;
  color: black;
}

footer .kiri{
  width: 25%;
  float: left;
  line-height: 80px;
}

footer .kanan{
  width: 75%;
  float: left;
}

.kanan ul{
  float: right;
  width: 100%;
}

.kanan li{
  float: right;
  list-style: none;
  width: 20%;
  padding: 15px 0;
}

.copyright{
  width: 100%;
  text-align: center;
  background-color: #384452;
  color: #fff;
  clear: both;
  padding: 15px 0;
}


@keyframes kedip {
 0%{
opacity: 2;
 }
 100%{
     opacity: 0.4;
 }
}


@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Medium), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Bold), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}
